<div class="container">
  <h1>View the Weapons!</h1>
  <div class="cards text-decoration-none">
    <% @weapons.each do |weapon| %>
      <%= link_to weapon_path(weapon) do%>
        <div class="card text-decoration-none">
          <img src="https://via.placeholder.com/150">
          <div class="card-details text-decoration-none">
            <h3><%= weapon.name %></h3>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
