<div class="container">
  <h1>Visit the Rooms!</h1>
  <div class="cards text-decoration-none">
    <% @locations.each do |location| %>
      <%= link_to location_path(location) do%>
        <div class="card text-decoration-none">
          <img src="https://via.placeholder.com/150">
          <div class="card-details text-decoration-none">
            <h3><%= location.room %></h3>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
